* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    margin-top:30px;
    width: 100%;
    height: 157px;
    background-color: #4C6793;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #4C6793;
    padding: 0 25px;
    transition: 0.3s;
    
}

.botcamp {
    text-align: center;
    color: white;
    font-family: 'IM FELL Great Primer SC';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 98px;
    text-align: center;
    margin-right: 250px;
}

main {
    width: 100%;
    height: 837px;
    display: flex;
    align-items: flex-start;
    z-index: 1;
}
.faro img{
    width: 520px;
    bottom: 0;
    z-index: 0;
    margin-top: 195px;
}
summary {
background-color: #4C6793;
color:white;
}
.capacitaciones {
    display:flex;
    flex-direction: column;
    width: 500px;
    height: 135px;
    margin-top: 50px;
    margin-left: 50px;
    

}
.capacitaciones summary {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size:x-large;
    font-family: alexandria;
    height: 55px;
}
summary + p {
    padding: 15px 0 0 0 ;
    font-size: 20px;
    font-family: alexandria;    
}
@font-face {
    font-family: "Robotoblack";
    src: url(Roboto-Black.ttf) format("truetype");
} 

* {
    font-family: "Robotoblack" ;
    margin: 0;
    padding: border-box;

}

body {
    background: #cacadf;
}

.logo > a {
    display: block;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 25px 10px;
    font-size: 14px;
    line-height: 1;
    transition: 0.3s;
}

.menu li a:hover {
    box-shadow: 0 -5px 0px #fff inset,
    100px 0 0 rgba(255, 255, 255, 0.253) inset;
    padding: 25px 10px 25px 10px;
}

.hamburguer {
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;

}

.hamburguer:before,
.hamburguer:after{
    content:"";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;

}

.hamburguer:before{
    top: -10px;
    width: 20px;

}

.hamburguer:after{
    top: 10px;
    width: 25px;
}

.menu-bakery {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor:pointer;
    opacity: 0;

}

.menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    left:  -300px;
    background: #4C6793;
    width: 200px;
    height: 100%;
    padding-top: 65px;
}

.menu li {
    width: 100%;
    margin-top: 2rem;
    padding-right: 3rem;
    margin-bottom: -3rem;
}

.menu li a,
.menu li a:hover{
    padding: 30px;
    font-size: 20px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.404)inset;

}

.navigation input:checked ~ .hamburguer {
    background: transparent;
}

.navigation input:checked ~ .hamburguer::before {
    top:0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked ~ .hamburguer::after {
    top:0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~ .menu {
    left: 0;
    box-shadow: -20px 0 40px rgba(0,0,0,0.3);
}
