*{
font-family: 'Alexandria', sans-serif;
font-family: 'IM Fell Great Primer SC', serif;
}

label {
    padding-right: 10px;
    font-size: 1rem;
  
}


@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 12rem;
    --fg: #8BBCCC;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }

div .HeaderTitle  {
    z-index: 0;
  }
.HeaderTitle{
    background-color: #4C6793;
    text-align: center;
    color: white;
    padding: 1.2rem;
    margin-top: 30px;
}

.global{
    display: grid;
    grid-template-columns: 15% 65%;
 
}
.faro{
    width: 520px;
    position: fixed;
    bottom: 0;
    z-index: 0;
}
.graficos{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 330px;
}

.estadistic1{
    display: flex;
    gap: 5%;
}
.estadistic2{
    display: flex;
    gap: 20%;
}

.NivelEmpleabilidad{
    width: 80%;
}

.NivelSatifaccion{
    width: 40%;
}

.NivelBootcam{
    width: 50%;
}

.NivelVocacional{
    width: 40%;
}

progress{
    color: aqua;
}

